
	{% extends "hello.html" %}
	{% block content %}
	
	<div class="container">
	<div class="page-header">
            <h1>Edit Location</h1>
    </div>
		{% if form.errors %}
		    <!--<ul class="errors">-->
		        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		            	<div class="alert alert-danger">
		                	<li>{{ form[field_name].label }}: {{ error }}</li>
		                </div>
		            {% endfor %}
		        {% endfor %}
		    <!--</ul>-->
		{% endif %}
				<form method="POST" action="">
				  <dl>
				  	<div class="input-group input-group-sm">{{ form.loc_id.label }}{{ form.loc_id(readonly=true, class="form-control") }}</div>
				    <div class="input-group input-group-sm">{{ form.location.label }}{{ form.location(class="form-control") }}</div>
				    <div class="input-group input-group-sm">{{ form.pbx.label }}{{ form.pbx(class="form-control") }}</div>
				    <div class="input-group input-group-sm">{{ form.info.label }}{{ form.info(class="form-control") }}</div>
				  </dl>
				  <p><button type="submit" class="btn btn-primary">Save Changes</button>
				</form>
	</div>
	{% endblock %}