{% extends "hello.html" %} {% block content %}


<div class="container">


    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </div>
    {% endif %} {% endwith %}


    <div class="row">
        <div class="span3 offset9">
            <a href="/pbx/add" type="button pull-right" class="btn btn-primary pull-right">Add PBX</a>
        </div>
    </div>





    <table class="table table-hover">

        <thead>
            <tr>
                <th>
                    Server
                </th>
                <th>
                    Fqdn
                </th>
                <th>
                    MAC
                </th>
                <th>
                    IP
                </th>
                <th>
                    External IP
                </th>
                <th>
                    root Password
                </th>
                <th>
                    maint Password
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}

            <tr>

                <td>
                    <small>{{ row[1] }}</small>
                </td>
                <td>
                    <small>{{ row[2] }}</small>
                </td>
                <td>
                    <small>{{ row[3] }}</small>
                </td>
                <td>
                    <small>{{ row[4] }}</small>
                </td>
                <td>
                    <small>{{ row[9] }}</small>
                </td>
                <td>
                    <small>{{ row[10] }}</small>
                </td>
                <td>
                    <small>{{ row[11] }}</small>
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								Action
								<span class="caret"></span>
							</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/locations/edit/{{ row[0] }}"><i class="icon-pencil"></i> Edit</a>
                            </li>
                            <li><a href="#"><i class="icon-trash"></i> Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    </tbody>
    </table>
</div>
{% endblock %}
